<?xml version="1.0" encoding="utf-8" ?>
<viconfig>
  <dbfactory>
    <property name="connection.string">Server=39.104.127.94;Port=56033;SslMode=None;Database=acitivity_biyeji_db_test;Uid=dev;Pwd=7AXg#m3m;</property>
    <property name="connection.provider">MySql.Data.MySqlClient</property>
    <property name="connection.showsql">true</property>
    <mapping>AICore.Domain</mapping>
  </dbfactory>
</viconfig>
